$def with (data)       
$#上一行一定要写在第一行。

<html>
<head>
    <meta charset="UTF-8" />
    <style  href="static/css/style.css" rel="stylesheet" type="text/css" ></style>
    <script src="static/js/jquery-1.7.1.min.js"></script> 
    <script src="static/js/makeFld.js"></script> 
</head>
<body>
    <form name='form_1' method="post" action="saveFld">
        <table border='1' width="80%">
            <tr>
                <td>
        客户名称：    <input type="text" name="c1_1" value="$data['c1_1']" size="20"> &nbsp; <br/>
        客户地址：    <input type="text" name="c2_1" value="$data['c2_1']" size="20"> &nbsp; <br/>
        联系电话：    <input type="text" name="c3_1" value="$data['c3_1']" size="20"> &nbsp; <br/>
               </td>
        <td>中国移动通信集团终端有限公司陕西分公司
            <br/>发 料 单
        </td>
        <td>
        所属地市：    <input type="text" name="c4_1" value="$data['c4_1']" size="20"> &nbsp; <br/>
        需求单号：    <input type="text" name="c5_1" value="$data['c5_1']" size="20"> &nbsp; <br/>
        流水号：      <input type="text" name="fld_no" value="$data['fld_no']" size="20"> &nbsp;

        </td>
    </tr>
</table>

<table border='1' width="80%">
    <tr>
          <td>
        制单日期：    <input type="text" name="c6_1" value="$data['c6_1']" size="10"> &nbsp; 
        出库日期：    <input type="text" name="c7_1" value="$data['c7_1']" size="10"> &nbsp; 
        发料仓库：    <input type="text" name="c8_1" value="$data['c8_1']" size="20"> &nbsp; 
           </td>
    </tr>
</table>


<table border='1' width="80%"><tr>
        <td> 编号：  </td>
        <td> 名称及规格：  </td>
        <td> 机型代码：  </td>
        <td> 计量单位：  </td>
        <td> 应发数量：  </td>
        <td> 实发数量：  </td>
        <td> 备注：  </td>
</tr>
<tr>
        <td>1 <input type="text" name="c0_1" value="$data['c0_1']"></td>
        <td>  <input type="text" name="c9_1" value="$data['c9_1']" size="25"> &nbsp;  </td>
        <td>  <input type="text" name="c10_1" value="$data['c10_1']" size="15"> &nbsp;  </td>
        <td>   <input type="text" name="c11_1" value="$data['c11_1']" size="4"> &nbsp;  </td>
        <td>   <input type="text" name="c12_1" value="$data['c12_1']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c13_1" value="$data['c13_1']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c14_1" value="$data['c14_1']" size="20"> &nbsp;  </td>
</tr>
<tr>
        <td>2 <input type="text" name="c0_2" value="$data['c0_2']"></td>
        <td>  <input type="text" name="c9_2" value="$data['c9_2']" size="25"> &nbsp;  </td>
        <td>  <input type="text" name="c10_2" value="$data['c10_2']" size="15"> &nbsp;  </td>
        <td>   <input type="text" name="c11_2" value="$data['c11_2']" size="4"> &nbsp;  </td>
        <td>   <input type="text" name="c12_2" value="$data['c12_2']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c13_2" value="$data['c13_2']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c14_2" value="$data['c14_2']" size="20"> &nbsp;  </td>
</tr>
<tr>
        <td>3 <input type="text" name="c0_3" value="$data['c0_3']"></td>
        <td>  <input type="text" name="c9_3" value="$data['c9_3']" size="25"> &nbsp;  </td>
        <td>  <input type="text" name="c10_3" value="$data['c10_3']" size="15"> &nbsp;  </td>
        <td>   <input type="text" name="c11_3" value="$data['c11_3']" size="4"> &nbsp;  </td>
        <td>   <input type="text" name="c12_3" value="$data['c12_3']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c13_3" value="$data['c13_3']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c14_3" value="$data['c14_3']" size="20"> &nbsp;  </td>
</tr>
<tr>
        <td>4 <input type="text" name="c0_4" value="$data['c0_4']"></td>
        <td>  <input type="text" name="c9_4" value="$data['c9_4']" size="25"> &nbsp;  </td>
        <td>  <input type="text" name="c10_4" value="$data['c10_4']" size="15"> &nbsp;  </td>
        <td>   <input type="text" name="c11_4" value="$data['c11_4']" size="4"> &nbsp;  </td>
        <td>   <input type="text" name="c12_4" value="$data['c12_4']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c13_4" value="$data['c13_4']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c14_4" value="$data['c14_4']" size="20"> &nbsp;  </td>
</tr>
<tr>
        <td>5 <input type="text" name="c0_5" value="$data['c0_5']"></td>
        <td>  <input type="text" name="c9_5" value="$data['c9_5']" size="25"> &nbsp;  </td>
        <td>  <input type="text" name="c10_5" value="$data['c10_5']" size="15"> &nbsp;  </td>
        <td>   <input type="text" name="c11_5" value="$data['c11_5']" size="4"> &nbsp;  </td>
        <td>   <input type="text" name="c12_5" value="$data['c12_5']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c13_5" value="$data['c13_5']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c14_5" value="$data['c14_5']" size="20"> &nbsp;  </td>
</tr>
<tr>
        <td>6 <input type="text" name="c0_6" value="$data['c0_6']"></td>
        <td>  <input type="text" name="c9_6" value="$data['c9_6']" size="25"> &nbsp;  </td>
        <td>  <input type="text" name="c10_6" value="$data['c10_6']" size="15"> &nbsp;  </td>
        <td>   <input type="text" name="c11_6" value="$data['c11_6']" size="4"> &nbsp;  </td>
        <td>   <input type="text" name="c12_6" value="$data['c12_6']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c13_6" value="$data['c13_6']" size="4"> &nbsp;  </td>
        <td>    <input type="text" name="c14_6" value="$data['c14_6']" size="20"> &nbsp;  </td>
</tr>


</table>
<br/>
          <span> <input type="submit" id="b_1" value="生成报表"></span>
<br/>
<br/>
<br/>
<br/>
<br/>
           <div align="right"> <input type="button" id="b_2" value="跳过一条错误数据"></div>

</form>
</body>
</html>
