$def with ( runData )

<html>
    <head>
        <meta charset="UTF-8" /> 
        <title></title>
        <link href="static/css/style.css" rel="stylesheet" type="text/css" />
        <script src="static/js/jquery-1.7.1.min.js"></script> 
        <script src="static/js/common.js"></script> 

    </head>
    <body>
        <h2>$runData['showMsg']
            &nbsp;&nbsp;&nbsp;
        <a href="/" >返回</a>  </h2>
        全部机型信息：
        <table border="1">
        $ infos = runData['AllPhoneInfo']
        $for i,info in enumerate(infos):
            <tr><td>$(i+1)</td><td> $info['phone_no'] </td><td> $info['phone_name'] </td></tr>
        </table>


    </body>
</html>
