$def with ( renderData )
<html>
    <head>
        <meta charset="UTF-8" /> 
        <title></title>
        <link href="static/css/style.css" rel="stylesheet" type="text/css" />
        <script src="static/js/jquery-1.7.1.min.js"></script> 
        <script src="static/js/common.js"></script> 
        <script src="static/js/showreport.js"></script> 

    </head>
    <body>
        <iframe src="$renderData['iframeUrl']" width="100%" height="95%" border='0' >
        </iframe>
        <br/>
        <form name="form_1" action='/makeFld' method='get'>
            <h2><input type="submit" name='b1' value='制作下一张单据'  />  </h2>
        </form>
        $renderData['automodeText']
        <input type="hidden" name="automode" value="$renderData['automodeFlag']" >
        
    </body>
</html>
